body {
  margin: 20px 20px;
  background-color: #213547;
  color: #ffffff;
  display: grid;
}

.logo {
  background-color: rgba(0, 0, 0, 0.475);
  padding: 10px;
  width: 150px;
  height: 150px;
}

button {
  margin-right: 10px;
}
h2 {
  margin-top: 30px;
}
